@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Cornershop.Presentation.Customer.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="border login__container">
    <form method="post">
        @Html.AntiForgeryToken()
        <div class="text-center">
            <h3 class="mb-3">Log in</h3>
        </div>
        <div>
            <label>Email</label>
            <input asp-for="User!.Email" type="email" data-val-email="Email is not valid"
                data-val-required="Please enter email" />
            <span asp-validation-for="User!.Email" class="text-danger"></span>
        </div>
        <div>
            <label>Password</label>
            <input asp-for="User!.PlainPassword" type="password" data-val-email="Please enter password" />
            <span asp-validation-for="User!.PlainPassword" class="text-danger"></span>
        </div>
        <div class="ps-3">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
        <div>
            <input type="submit" class="site-btn text-white" value="Submit" />
        </div>
    </form>
    <div class="text-center">
        <a asp-page="Register">Don't have an account? Register</a>
    </div>
</div>
