@model Cornershop.Shared.DTOs.UserDTO
@{
    ViewData["Title"] = "Login";
}

<div class="border login__container">
    <form asp-controller="User" asp-action="Login" method="post">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        <div class="text-center">
            <h3 class="mb-3">Log in</h3>
        </div>
        <div>
            <label>Email</label>
            <input asp-for="Email" type="email" 
            data-val-email="Email is not valid"
            data-val-required="Please enter email" />
        </div>
        <div>
            <label>Password</label>
            <input asp-for="PlainPassword" type="password"
            data-val-email="Please enter password" />
        </div>
        <div>
            <input type="submit" class="site-btn text-white" value="Submit" />
        </div>
        <div class="text-center">
            <a asp-controller="User" asp-action="Reister">Don't have an account? Register</a>
        </div>
    </form>
</div>
