@{
    ViewData["Title"] = "Cornershop - Books for your soul";
}

@model ICollection<Cornershop.Shared.DTOs.ProductDTO>

<div>
    <div class="container">
        <div class="hero__item set-bg" data-setbg="img/hero/hero.jpg">
            <div class="hero__text">
                <span>CORNERSHOP</span>
                <h2>Books <br />for your soul</h2>
                <p>Free Pickup and Delivery Available</p>
                <div class="hero__a">
                    <a href="#" class="primary-btn">SHOP NOW</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Section Begin -->
    <section class="featured">
        <div class="container">
            <div class="section-title">
                <h2>Lastest Products</h2>
            </div>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 featured__product">
                @{
                    foreach (var product in Model)
                    {
                        <partial name="~/Views/Shared/PartialViews/_ProductCard.cshtml" model="@product" />
                    }
                }
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
</div>
