@{
    ViewData["Title"] = "Products";
}

@model ICollection<Cornershop.Shared.DTOs.ProductDTO>

<div class="container">
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        @await Component.InvokeAsync("CategoryFilter", new { categoryId = ViewData["categoryId"]})
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Sort By</span>
                                    <select>
                                        <option value="0">Default</option>
                                        <option value="0">Default</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-2 row-cols-lg-4 mb-5">
                        @{
                            foreach (var product in Model)
                            {
                                <partial name="~/Views/Shared/PartialViews/_ProductCard.cshtml" model="@product" />
                            }
                        }
                    </div>
                    @await Component.InvokeAsync("PageControl", new { keyword = ViewData["pagesCount"]})
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
</div>